# Environment config

# Please specify everything for your bot

# Note: .env is a shell file, so the can't be spaces around =

PREFIX=m!
BOT_TOKEN=NzQzNjg0NzExNTk5MTc3NzQ5.XzYQXA.Rrdj0JZh73iDw75R-fX_uBqn8UQ
YTAPI_KEY=AIzaSyDH9W9oUbRtkdJqzOT46sf-x5uIuPFqWI0
PROJECT_DOMAIN=
